body {
	margin:0;
	font-family: 'Roboto', 'Arial';
	height: 100vh;
	overflow: hidden;
	color: white;
	background: black;
}

.website-background {
	width: -webkit-fill-available;
	width: -moz-available;
	height: -webkit-fill-available;
	height: 100vh;

	background-size: cover;
}

.page_content {
	width: -webkit-fit-content;
	width: -moz-fit-content;

	text-align: center;
}

.page_content_header .server_logo {
	height: 300px;
	animation: floating 2s infinite;
}

.page_content_header .server_name {
	font-size: 2em;
	font-family: 'Roboto Slab', 'Roboto';
}

.page_content_links {
	display:flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	margin:auto;
	margin-top: 45px;
}

.page_content_links p {
	margin: 20px 5px;
}

.page_content .page_content_links {
	width: -webkit-fit-content;
	width: -moz-fit-content;

	display: flex;
}

.page_content_links p {
	margin: 20px 5px;
}

.page_content_links p a {
	padding: 10px 40px;
	background: #0000006b;
	color: white;
	text-decoration: none;
	font-family: 'Roboto';
	border-radius: 4px;
	font-size: 21px;
}

.page_content_links p a:hover {
	background: #F44336;
    box-shadow: 0 0 3px #f44336;
	transition: .2s;
}

.page_content_links p:hover {
	
}

.page_content_footer .player_counter {
	width: -webkit-fit-content;
	width: -moz-fit-content;

	margin: auto;
	margin-top: 40px;
	font-size: 19px;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}

.player_counter:hover {
	transform: translate(0px, -5px);
	transition: .2s;
}
.player_counter:active {
	transform: scale(0.9);
	transition: .1s;
}


/* ANIMATIONS */
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

@keyframes float {0% {transform: translate(0px,0px);}50% {transform: translate(0px,-10px);}100% {transform: translate(0px,0px);}}

@keyframes fadeIn{from{opacity: 0}to{opacity: 1}}
@keyframes fadeOut{from{opacity: 1}to{opacity: 0}}

